.page {
    height: 100%;
    margin: 0;
    height: 1000px;
    color: #d6d5d5;
    background-color: rgb(100, 100, 100);
    background: rgb(90,90,90);
}



.cardEdit {
    color: black;
}


.sidebar {
    background-color: rgb(128, 128, 128);
}

textarea{
    overflow-y: scroll;
    height: 100px;
    resize: none;
}



